html {
  scroll-behavior: smooth;
}

body {
  background-color: $navy;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $white;
}

.row {
  //width: 100%;
}

section:not(.carousel):not(#hero), .section {
  margin-top: $section-padding-y;
  margin-bottom: $section-padding-y;
  min-height: 100vh;
  overflow: hidden;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-sm-40 {
  margin-bottom: 40px;

  @media(min-width: 576px) {
    margin-bottom: 0;
  }
}

.button-container {

  .btn:not(:first-child) {
    margin-left: 10px;
  }

  .btn {
    margin-top: 20px;
  }
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}