html {
 scroll-behavior: smooth;
}

body {
 background-color: $navy;
 margin: 0;
 font-family: 'Roboto', sans-serif;
 color: $white;
}

.row {
 width: 100%;
}

section:not(.carousel):not(#hero), .section {
 margin: $section-padding;
 min-height: 100vh;
}

.mb-0 {
 margin-bottom: 0;
}

.mt-0 {
 margin-top: 0;
}

.mt-20 {
 margin-top: 20px;
}

.mt-40 {
 margin-top: 40px;
}

.button-container {

 .btn {
  margin-top: 20px;
 }
}



.flex {
 display: flex;
}

.flex-center {
 justify-content: center;
}