.h1, h1 {
  font-weight: bold;
  font-size: $h1;
  color: $white;
}

.h2, h2 {
  font-weight: bold;
  font-size: $h2;
  color: $white;
}

.h3, h3 {
  font-weight: bold;
  font-size: $h3;
  color: $white;
}

.h4, h4 {
  font-weight: bold;
  font-size: $h4;
  color: $white;
}

.h5, h5 {
  font-weight: bold;
  font-size: $h5;
  color: $white;
}

.text, .p, p {
  font-size: $text;
  color: $cream;
}


.alt-color {
  color: $green--dark;
}


