//Colors
$green: #2FAC4B;
$green--light: #34BF53;
$green--dark: #339649;
$white: #FFFFFF;
$navy: #0D213F;
$navy--light: #0D213F;
$cream: #8892B0;

// Text
$h1: 32px;
$h2: 24px;
$h3: 20px;
$h4: 16px;
$h5: 14px;
$text: 14px;

// Other
$section-padding: 40px 0;



