.sidebar-links {
  position: fixed;
  bottom: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media(min-width: 576px) {
    display: flex;
  }

  &:after {
    content: '';
    display: block;
    width: 1px;
    background-color: $green--dark;
    height: 80px;
    margin-top: 10px;
  }

  &--right {
    right: 50px;
  }

  &--left {
    left: 50px;
  }

  &__link {
    color: $green--dark;
    text-decoration: none;
    transition: ease 0.4s;

    &:hover {
      color: $green--light;
    }

    &--email {
      writing-mode: vertical-rl;

    }
  }
}