#hero {
  min-height: calc(100vh - 40px - 70px);
  padding: 40px 0 0;
  margin: 40px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  #hero-next-section-button {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    height: 20px;
    width: 34px;
    color: $green--dark;
    transition: ease 0.4s;

    &:hover {
      color: $green;
    }
  }
}
